Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp
*.cfg

*.lnk

Procfile
NUBZBOTv2/log.txt
*.pyc
__pycache__/
NUBZBOTv2/__pycache__/
NUBZBOTv2/extensions/__pycache__/
venv/
Scripts/
.env
Lib/
Include/