Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk

NUBZBOTv2/log.txt
NUBZBOTv2/__pycache__/
NUBZBOTv2/extensions/__pycache__/
venv/